<!-- your html code here -->
<div class=" bg-white">
    <h1>Porfolio</h1>
    <p class="fs-2">Donec ullamcorper nulla non metus actor fringilla. Vestibulum id igual porta felis euismod
        semper. Praesent
        commodo cursus
        magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo </p>
    <div class="row">

        <div class="col-4">
            <div class="px-2">
                <img src="/website/assets/img/big-project-image.png" class="rounded w-100" alt="..."/>
                <h2 class="text-primary">Project Name</h2>

                <p class="fw-normal">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
        </div>
        <div class="col-4">
            <div class="px-2">
                <img src="/website/assets/img/big-project-image.png" class="rounded w-100" alt="..."/>
                <h2 class="text-primary">Project Name</h2>

                <p class="fw-normal">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
        </div>
        <div class="col-4">
            <div class="px-2">
                <img src="/website/assets/img/big-project-image.png" class="rounded w-100" alt="..."/>
                <h2 class="text-primary">Project Name</h2>

                <p class="fw-normal">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
        </div>


    </div>
</div>