<!-- your html code here -->

<div class="container d-flex justify-content-center">
    
    <img src="/website/assets/img/2.jpg" class="mt-5 mb-4 rounded-circle">

    <div class="mb-4 mt-5 col-6">
        <div class="d-flex">
            <h2>The Second Heading&nbsp;</h2><h2 class="text-muted">Is Pretty Cool Too.</h2>
        </div>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione corporis repellendus similique hic, optio repellat ipsum adipisci? Molestias iste fugit suscipit, quo repellat hic sequi quaerat sed alias, dolorum saepe?</p>
    </div>
    
</div>

